.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 25rem;
  background-color: #f4b955;
  padding: 1rem;
  border-radius: 0.5rem;
}

.formContainer .options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
}

.formContainer textarea {
  margin-top: 1rem;
}

.formContainer .options select {
  border: 0;
  border-radius: 0.2rem;
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
  width: 15%;
}

.formContainer .input {
  border: 0;
  border-radius: 0.2rem;
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
  outline: 0;
  padding: 0.4rem 0.1rem;
  transition: border-color 0.2s;
  color: #000;
}

.formContainer .price {
  width: 30%;
}

.save {
  background-color: #084c3d;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 0 0.3rem 0;
  outline: #f4b955 4px outset;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

/* TABLE */

table {
  width: 80%;
  background-color: #084c3d;
  margin: 4rem 0;
  border-radius: 0.5rem;
}

.imageHamburguer {
  width: 10rem;
}

.deleteButton {
  background-color: #d05a68;
  cursor: pointer;
  border: 0;
  padding: 0.2rem;
  outline: #f4b955 4px outset;
}

.deleteButton:active,
.save:active,
.activeButton:active {
  outline: #f4b955 4px inset;
}

table tbody tr {
  background-color: #f4b955;
  text-align: center;
}

th {
  color: #f4b955;
}

.activeButton {
  background-color: #084c3d;
  cursor: pointer;
  border: 0;
  padding: 0.2rem;
  outline: #f4b955 4px outset;
  margin: 0 1rem;
  color: #f4b955;
}

.activeSelect {
  width: 3rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 0.2rem;
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
}

.inputPrice {
  width: 4rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 0.2rem;
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
  outline: 0;
  padding: 0.4rem 0.1rem;
  transition: border-color 0.2s;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .formContainer textarea {
    margin-bottom: 0.5rem;
  }

  .formContainer .options select {
    padding: 0.2rem 0.1rem;
  }

  .formContainer .input {
    padding: 0.2rem 0.1rem;
  }

  .formContainer label {
    font-size: 0.8rem;
  }

  /*   TABLE */

  table {
    margin: 2rem 0;
  }

  th {
    font-size: 0.9rem;
    color: #f4b955;
  }

  td {
    font-size: 0.8rem;
  }

  .activeSelect {
    padding: 0.2rem 0.1rem;
  }

  .inputPrice {
    padding: 0.2rem 0.1rem;
    transition: border-color 0.2s;
  }
}
