.App {
  text-align: center;
}

body {
  background-color: #f5d9a9;
  position: relative;
  padding: 6rem 2rem 4rem;
  min-height: 100vh;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  body {
    padding: 4.5rem 2rem 4.5rem;
  }
}

@media (min-width: 360px) and (max-width: 412px) {
  body {
    padding: 3rem 0rem 2rem 0;
  }
}
