.birthday {
  position: fixed;
  text-align: left;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #f4b955;
  border-radius: 1rem;
  padding: 1rem;
  width: 17%;
  animation-delay: 8s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .birthday {
    padding: 0.2 0.5rem;
    width: 23.5%;
  }
}

@media (min-width: 360px) and (max-width: 412px) {
  .birthday {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    width: 52%;
    font-size: 0.7rem;
    height: 4rem;
  }
}
