h1 {
  text-align: center;
}

.buyFormContainer {
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  height: 70vh;
}

.buyForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: #f4b955;
  padding: 2rem;
  border-radius: 2rem;
  width: 45%;
  position: relative;
}

.buyForm .burguers {
  display: none;
}

.buyForm label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buyForm .observations {
  display: flex;
  flex-direction: column;
  margin-top: rem;
}

.buyForm textarea {
  width: 100%;
  margin-top: 0.5rem;
  border: 0;
  border-radius: 0.2rem;
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
  outline: 0;
  padding: 0.4rem 0.1rem;
  transition: border-color 0.2s;
  margin-bottom: 1rem;
}

.buyForm input {
  border: 0;
  border-radius: 0.2rem;
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
  outline: 0;
  padding: 0.4rem 0.2rem;
  transition: border-color 0.2s;
}

.buyForm select {
  width: 11.5rem;
}

.buyForm h4 {
  margin: 0;
}

.buyForm .buttons {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.buttonBuyForm {
  margin-bottom: 1rem;
  width: 30%;
  background-color: #084c3d;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem 0.6rem 0.4rem;
  outline: #f4b955 4px outset;
}

.cancelButton {
  margin-bottom: 1rem;
  width: 30%;
  background-color: #d05a68;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem 0.6rem 0.4rem;
  outline: #f4b955 4px outset;
}

.alert {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;

  width: 99%;
  text-align: center;
  background-color: #d05a68;
  padding: 0.3rem;
  border-radius: 0 0 2rem 2rem;
}

.imgBurguerToPay {
  width: 8rem;
}

/* BURGUER TO BUY */

.dataBurguers {
  width: 45%;
}

.burguerToBuy {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #084c3d;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.burguerToBuy h4 {
  color: #f4b955;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  h1 {
    font-size: 1.5rem;
  }

  .buyFormContainer {
    padding: 1rem 4rem;
    height: 70%;
    margin-bottom: 2rem;
  }

  .buyForm {
    padding: 1rem;
    border-radius: 1rem;
  }

  .buyForm label {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
  }

  .buyForm input {
    padding: 0.2rem 0.1rem;
    font-size: 0.8rem;
  }

  .buyForm select {
    font-size: 0.8rem;
    padding: 0.2rem 0.1rem;
    width: 10.2rem;
  }

  .buyForm h4 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .buttonBuyForm {
    margin-bottom: 1.5rem;
    width: 20%;
  }

  .cancelButton {
    margin-bottom: 1.5rem;
    width: 20%;
  }
  .alert {
    font-size: 0.7rem;
    width: 98%;
    padding: 0.3rem;
    border-radius: 0 0 1rem 1rem;
  }

  .imgBurguerToPay {
    width: 7rem;
  }

  .burguerToBuy {
    margin-bottom: 0.5rem;
  }

  .burguerToBuy h4 {
    font-size: 0.9rem;
  }
}
