.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: 1s;
  z-index: 15;
  cursor: pointer;
}

.none {
  opacity: 0;
  visibility: hidden;
  margin-bottom: 20rem;
  transition: 1s;
}
