.homeInitial {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background-color: #06493a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100vw;
  height: auto;
  z-index: 15;
  cursor: pointer;
}

.none {
  display: none;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 30rem;
}

.carousel-root {
  margin-top: 4rem;
  padding-bottom: 5rem;
}

.slideButton {
  background-color: #06493a;
  position: absolute;
  top: 73.3%;
  right: 4.5%;
  border-radius: 2rem;
  width: 24.8rem;
  color: #fff;
  height: 5.8rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .slideButton {
    top: 73.5%;
    right: 4.5%;
    width: 17.8rem;
    border-radius: 1.5rem;
    height: 4.8rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 412px) {
  .carousel-root {
    margin-top: 0;
    padding-bottom: 0;
  }

  .slideButton {
    top: 70%;
    right: 4%;
    width: 5.5rem;
    border-radius: 0.5rem;
    height: 1.8rem;
    font-size: 0.6rem;
  }
}
