.login-register-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-register {
  background-color: #f4b955;
  width: 30%;
  padding: 1rem;
  /*   border-radius: 0.5rem; */
  box-shadow: 0px 0px 8px #084c3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 0.5rem;
}

.inputs input {
  border: 0;
  /*   border-radius: 0.2rem; */
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
  outline: 0;
  padding: 0.4rem 0.1rem;
  transition: border-color 0.2s;
  margin-bottom: 1rem;
}

.inputs input::placeholder {
  color: #084c3d;
}

.inputs input:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.login-register-form button {
  margin-bottom: 1rem;
  width: 10%;
  background-color: #084c3d;
  cursor: pointer;
  border: none;
  /*   border-radius: 0.2rem; */
  padding: 0.6rem 0.6rem 0.4rem;
  /*   outline: #f4b955 4px outset; */
}

.login-register-form button:active,
.googleLogin:active {
  outline: #f4b955 4px inset;
}

.googleLogin {
  background-color: #084c3d;
  cursor: pointer;
  border: none;
  /*   border-radius: 0.2rem; */
  padding: 0.1rem 0.6rem 0;
  /* outline: #f4b955 4px outset; */
  width: 100%;
}

.googleLogin img {
  width: 3rem;
}

.login-register-link {
  color: #084c3d;
  text-decoration: none;
}

.login-register-link p {
  cursor: pointer;
  transition: 0.5s;
}

.login-register-link p:hover {
  color: #f4b955;
}

.linksLogIn {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.forgot {
  text-decoration: none;
  color: #084c3d;
  cursor: pointer;
  transition: 0.5s;
}

.forgot:hover {
  color: #f4b955;
}

/* PROFILE */

.profileContainer {
  display: flex;
  justify-content: space-around;
  align-items: initial;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f4b955;
  width: 20%;
  height: 15rem;
  /*   border-radius: 1rem; */
  right: 0;
}

.profile .profileImg {
  width: 20%;
  border-radius: 50%;
}

.profile .profileIcon {
  width: 10%;
}

.buttonsProfile {
  display: flex;
  justify-content: center;
  width: 100%;
}

.adminButton {
  margin: 1.5rem;
  width: 10%;
  background-color: #084c3d;
  cursor: pointer;
  border: none;
  /*   border-radius: 0.2rem; */
  /*  outline: #f4b955 4px outset; */
}

.adminButton .adminButtonImage {
  cursor: pointer;
}

.logOutButton {
  margin: 1.5rem;
  width: 10%;
  background-color: #d05a68;
  cursor: pointer;
  border: none;
  /*   border-radius: 0.2rem; */
  padding: 0.6rem 0.6rem 0.4rem;
  /*   outline: #f4b955 4px outset; */
}

.editButton {
  margin: 1.5rem;
  width: 10%;
  background-color: #084c3d;
  cursor: pointer;
  border: none;
  /*   border-radius: 0.2rem; */
  padding: 0.6rem 0.6rem 0.4rem;
  outline: #f4b955 4px inset;
}

.editButtonActive {
  margin: 1.5rem;
  width: 10%;
  background-color: #d05a68;
  cursor: pointer;
  border: none;
  /*   border-radius: 0.2rem; */
  padding: 0.6rem 0.6rem 0.4rem;
  /* outline: #f4b955 4px outset; */
}

.logOutButton .logoutImage {
  width: 1.2rem;
}

.logOutButton:active,
.adminButton:active {
  outline: #f4b955 4px inset;
}

/* FORM DATA USER */

.formData {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 28rem;
  width: 25rem;
  padding: 1rem 2rem;
  /*   border-radius: 1rem; */
}

.formDataUser {
  background-color: #d05a68;
  opacity: 0.6;
}

.formDataUserBlock {
  background-color: #f4b955;
}

.formData label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formData label input {
  width: 13rem;
}

.formData .buttons {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.formData .buttons button {
  width: 4rem;
  padding: 0.5rem;
  /*   border-radius: 0.2rem; */
  cursor: pointer;
  border: none;
  /*  outline: #f4b955 4px outset; */
}

.formData .buttons button:active {
  outline: #f4b955 4px inset;
}

.formData .buttons .buttonConfirmEdit {
  background-color: #084c3d;
}

.formData .buttons .buttonCancelEdit {
  background-color: #d05a68;
}

.formData label input {
  border: 0;
  /*   border-radius: 0.2rem; */
  background-color: #f5d9a9;
  border-bottom: 2px solid #084c3d;
  outline: 0;
  padding: 0.4rem 0.1rem;
  transition: border-color 0.2s;
  margin-bottom: 1rem;
  cursor: text;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .editButton,
  .editButtonActive,
  .logOutButton,
  .adminButton {
    width: 14%;
  }

  .profile {
    width: 32%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    width: 100%;
  }
  .profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adminButton {
    display: none;
  }

  .profile {
    width: 95%;
  }

  .formData {
    margin: 2rem auto 5rem;
    width: 80%;
  }

  .formData label {
    font-size: 0.8rem;
  }

  .formData label input {
    width: 7.2rem;
  }

  .login-register {
    margin-top: 1rem;
    width: 82%;
  }

  .login-register-form input {
    font-size: 0.8rem;
    width: 100%;
  }

  .login-register-form button {
    width: 3rem;
  }

  .googleLogin {
    width: 10rem;
  }

  .linksLogIn {
    width: 95%;
  }

  .linksLogIn p,
  a {
    font-size: 0.7rem;
  }
}
