.menu {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*PRODUCT*/

.product {
  display: flex;
  width: 30%;
  margin: 2rem 0;
  position: relative;
  border-radius: 1rem;
  background-color: #f4b955;
  box-shadow: #084c3d 0px 5px 15px 0px;
  height: 41rem;
}

.productTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  background-color: #084c3d;
  border-radius: 1rem 1rem 0 0;
}

.productTitle h4 {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 1.2rem;
}

.hamburguerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 30rem;
}

.hamburguer {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.vegan {
  padding: 0.2rem 0.3rem;
  background-color: #f4b955;
  color: #084c3d;
  margin-left: 1rem;
  border-radius: 0.2rem;
  font-weight: 800;
}

.description {
  padding: 0 1rem;
  color: #084c3d;
}

.description .detail {
  color: #063027;
}

.product .price {
  background-color: #084c3d;
  color: #f4b955;
  font-size: 2.5rem;
  position: absolute;
  top: 85%;
  margin: 0 0 1rem 1rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.product .add {
  position: absolute;
  top: 92%;
  right: 1rem;
  background-color: #084c3d;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem 0.6rem 0.4rem;
  outline: #f4b955 4px outset;
}

.add:active {
  outline: #f4b955 4px inset;
}

.product .add img {
  width: 1.2rem;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .products {
    margin-bottom: 1rem;
  }
  .product {
    height: 27rem;
    width: 20%;
    margin: 2rem 1rem 0;
  }

  .productTitle h4 {
    font-size: 1rem;
  }
  .description {
    height: 7rem;
  }

  .description,
  p {
    font-size: 0.8rem;
  }

  .product .price {
    font-size: 1.5rem;
    top: 84%;
  }

  .product .add {
    top: 90%;
    right: 1rem;

    padding: 0.4rem 0.4rem 0.3rem;
    outline: #f4b955 4px outset;
  }

  .hamburguerContainer {
    height: 10rem;
  }
}

@media (min-width: 290px) and (max-width: 412px) {
  .products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    margin-top: 0.5rem;
  }

  /*PRODUCT*/

  .product {
    display: flex;
    width: 100%;
    margin: 0.5rem 0;
    height: 28rem;
  }

  .productTitle h4 {
    font-size: 0.9rem;
  }

  .vegan {
    padding: 0.1rem 0.2rem 0.2rem;
    font-size: 0.9rem;
  }

  .description {
    padding: 0 0.5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .description p {
    font-size: 0.7rem;
  }

  .product .price {
    font-size: 1.5rem;
    top: 84%;
    padding: 0.2rem 0.5rem;
  }

  .product .add {
    top: 91%;
    padding: 0.4rem 0.4rem 0.3rem;
  }

  .product .add img {
    width: 1.1rem;
  }

  .hamburguerContainer {
    height: 15rem;
  }
}
